{% extends "base.html" %}
{% block content %}
<h2>➕ Add New User</h2>
<div class="container mt-4">
  <div class="card p-4">
    <label>Name</label>
    <input id="name" class="form-control">
    <label class="mt-3">Email ID</label>
    <input id="email" class="form-control">
    <label class="mt-3">Salary</label>
    <input id="salary" class="form-control" type="number">
    <label class="mt-3">Company Name</label>
    <input id="company" class="form-control">

    <button class="btn btn-primary mt-4 w-100" onclick="saveUser()">Save User</button>
  </div>
</div>

<script>
function saveUser() {
  const data = {
    name: document.getElementById("name").value,
    email: document.getElementById("email").value,
    salary: document.getElementById("salary").value,
    company: document.getElementById("company").value
  };
  fetch("/save-user", {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify(data)
  })
  .then(res => res.json())
  .then(d => alert(d.message));
}
</script>
{% endblock %}
