{% extends "base.html" %}
{% block title %}Add User{% endblock %}
{% block content %}

<h3 class="text-center">Add User</h3>

<div class="card p-4">
  <input id="name" class="form-control mb-2" placeholder="Name">
  <input id="email" class="form-control mb-2" placeholder="Email">
  <input id="salary" type="number" class="form-control mb-2" placeholder="Salary">
  <input id="company" class="form-control mb-2" placeholder="Company">

  <button class="btn btn-primary w-100" onclick="saveUser()">Save</button>
</div>

<script>
function saveUser(){
  const user = {
    name: name.value.trim(),
    email: email.value.trim(),
    salary: salary.value,
    company: company.value.trim()
  };

  if(!user.name){
    alert("Name required");
    return;
  }

  let users = JSON.parse(localStorage.getItem("users")) || [];
  users.push(user);
  localStorage.setItem("users", JSON.stringify(users));

  alert("Saved");
  document.querySelector("form")?.reset();
}
</script>

{% endblock %}
